<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.java.mapper.mapper.ProductDetailMapper" >
  <resultMap id="BaseResultMap" type="com.java.model.product.ProductDetail" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="product_id" property="productId" jdbcType="INTEGER" />
    <result column="origin_address" property="originAddress" jdbcType="VARCHAR" />
    <result column="raw_material" property="rawMaterial" jdbcType="VARCHAR" />
    <result column="standard_code" property="standardCode" jdbcType="VARCHAR" />
    <result column="license_code" property="licenseCode" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, product_id, origin_address, raw_material, standard_code, license_code
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.java.model.product.ProductDetailExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from product_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from product_detail
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from product_detail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.java.model.product.ProductDetailExample" >
    delete from product_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.java.model.product.ProductDetail" >
    insert into product_detail (id, product_id, origin_address, 
      raw_material, standard_code, license_code
      )
    values (#{id,jdbcType=INTEGER}, #{productId,jdbcType=INTEGER}, #{originAddress,jdbcType=VARCHAR}, 
      #{rawMaterial,jdbcType=VARCHAR}, #{standardCode,jdbcType=VARCHAR}, #{licenseCode,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.java.model.product.ProductDetail" >
    insert into product_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="productId != null" >
        product_id,
      </if>
      <if test="originAddress != null" >
        origin_address,
      </if>
      <if test="rawMaterial != null" >
        raw_material,
      </if>
      <if test="standardCode != null" >
        standard_code,
      </if>
      <if test="licenseCode != null" >
        license_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="originAddress != null" >
        #{originAddress,jdbcType=VARCHAR},
      </if>
      <if test="rawMaterial != null" >
        #{rawMaterial,jdbcType=VARCHAR},
      </if>
      <if test="standardCode != null" >
        #{standardCode,jdbcType=VARCHAR},
      </if>
      <if test="licenseCode != null" >
        #{licenseCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.java.model.product.ProductDetailExample" resultType="java.lang.Integer" >
    select count(*) from product_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update product_detail
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.productId != null" >
        product_id = #{record.productId,jdbcType=INTEGER},
      </if>
      <if test="record.originAddress != null" >
        origin_address = #{record.originAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.rawMaterial != null" >
        raw_material = #{record.rawMaterial,jdbcType=VARCHAR},
      </if>
      <if test="record.standardCode != null" >
        standard_code = #{record.standardCode,jdbcType=VARCHAR},
      </if>
      <if test="record.licenseCode != null" >
        license_code = #{record.licenseCode,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update product_detail
    set id = #{record.id,jdbcType=INTEGER},
      product_id = #{record.productId,jdbcType=INTEGER},
      origin_address = #{record.originAddress,jdbcType=VARCHAR},
      raw_material = #{record.rawMaterial,jdbcType=VARCHAR},
      standard_code = #{record.standardCode,jdbcType=VARCHAR},
      license_code = #{record.licenseCode,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.java.model.product.ProductDetail" >
    update product_detail
    <set >
      <if test="productId != null" >
        product_id = #{productId,jdbcType=INTEGER},
      </if>
      <if test="originAddress != null" >
        origin_address = #{originAddress,jdbcType=VARCHAR},
      </if>
      <if test="rawMaterial != null" >
        raw_material = #{rawMaterial,jdbcType=VARCHAR},
      </if>
      <if test="standardCode != null" >
        standard_code = #{standardCode,jdbcType=VARCHAR},
      </if>
      <if test="licenseCode != null" >
        license_code = #{licenseCode,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.java.model.product.ProductDetail" >
    update product_detail
    set product_id = #{productId,jdbcType=INTEGER},
      origin_address = #{originAddress,jdbcType=VARCHAR},
      raw_material = #{rawMaterial,jdbcType=VARCHAR},
      standard_code = #{standardCode,jdbcType=VARCHAR},
      license_code = #{licenseCode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>